<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
  </head>
  <body>
    <div *ngIf="user">
      <h1>User Id : {{user?._id}}</h1>
      <h3>Clicks : {{user?.clicks}}</h3>
      <h3>Hovers : {{user?.hovers}}</h3>
    </div>
    <h2>Logs</h2>
    <br>
    <ul>
      <li *ngFor="let log of logs ">
        
        <div *ngIf="log?.user_id == id">
          {{log?.time | date: "dd-MM-yyyy HH:mm:ss" }} : {{log?.type}}ed on image {{log?.image+1}}.
        </div>
      </li>
    </ul>
  </body>
</html>